<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.username %>,</p>
    <p>To reset your password, click on this uniform resource locator <%= link_to 'Change my password', edit_user_password_url(@user, reset_password_token: @token) %></p>
    <p>- Jonathan from Coindexter</p>
  </body>
</html>

,



