<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome <%= @user.first_name %> to Coindexter, a wiki for decentralized networks and cryptocurrencies. On Coindexter you can follow the networks and coins tat interest you.
    </p>
    <p>
      Here's the link: <%= @url %>. In the meantime, feel free to email me at jonathan@coindexter.io if you have any questions or ideas</p>
    </p>
    <p>- Jonathan from Coindexter</p>
  </body>
</html>