<li>
	<% unless comment.user.nil? %> 
		<%= image_tag(comment.user.avatar)  %>
	<% end %>
	<%= comment.body %> 
	<ul>
	  <%= render(partial: 'comments/comment', collection: comment.comments) %>
	</ul>
</li>