

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <h6><%= link_to "forgot your password?", new_password_path(resource_name), class: 'forgot-password' %></h6>
    </div>
  </div>
<% end -%>

<!--
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>
-->

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>


<%- if devise_mapping.omniauthable? %>
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <h6 class="sign-in-alternative">social sign in</h6>
    </div>
  </div>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="row">
        <div class="col-md-8 col-md-offset-4 social-sign-in">
          <% if OmniAuth::Utils.camelize(provider) == "GoogleOauth2" %>
            <% provider_name = "google" %>
            <% elsif OmniAuth::Utils.camelize(provider) == "Twitter" %>
            <% provider_name = "twitter" %> 
            <% elsif OmniAuth::Utils.camelize(provider) == "Facebook" %>
            <% provider_name = "facebook" %>
          <% end %>
          <h6><%= link_to "sign in with #{provider_name}", omniauth_authorize_path(resource_name, provider), class: [provider_name, 'oauth-signin'] %><br /></h6>
        </div>
    </div>
  <% end -%>
<% end -%>

<%- if controller_name != 'sessions' %>
  <div class="row">
    <div class="col-md-8 col-md-offset-4 already-have-account">
      <h6 class="sign-in-change">already have an account?</h6>
      <h6><%= link_to "log in", new_session_path(resource_name), class: ['coindexter-signin','oauth-signin']%></h6>
    </div>
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="row">
    <div class="col-md-8 col-md-offset-4 already-have-account">
      <h6 class="sign-in-change">don't have an account?</h6>
      <h6><%= link_to "Sign up", new_registration_path(resource_name), class: ['coindexter-signin','oauth-signin'] %></h6>
    </div>
  </div>
<% end -%>