<% @categories.each do |category| %>
	<ul class="full-category-cnt" id=<%= category.name %>>
		<% unless category.networks.empty? %>
			<li class="category-network-block block">
				<div class="row">
					<div class="col-md-10 col-md-offset-2">
						<div class="row networks-in-categories <%= category.name %>"> 
							<h1 class="list-name"><%= category.name %></h1>
							<% category.networks.each_with_index do |network, i| %>		
								<%= render 'network_widget', :network => network, :i => i %>
							<% end %>
						</div>
					</div>
				</div>
			</li>
		<% end %>
	</ul>
<% end %>
<ul class="action-links">
	<li><%= link_to("Add new network", new_network_path, class: "action-link", accesskey: 'A') %></li>
</ul>