<div class="col-md-2 col-md-offset-1 left-nav">
	<ul id="info-menu">
		<li id="show-all" class="active-item">All</li>
		<% @categories.each do |category| %>
			<% unless category.networks.nil? %>
				<li id=<%= category.name %>><%= link_to category.name.capitalize %></li>
			<% end %>	
		<% end %>
	</ul>
</div>