<%= javascript_include_tag "add_another" %>
<%= form_for @network, authenticity_token: true, html: { multipart: true } do |f| %>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<%= image_tag @network.logo, size: "60x60", id: "network-logo" if @network.logo? %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Network logo", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.file_field :logo, class: 'filestyle' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Name", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :name, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Description", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :description, rows: 6, class: "form-input" %>
		</div>
	</div>
	<%= f.fields_for :whitepapers do |w| %>
    	<div class="row">
    		<div class="col-md-4 label">
	    		<%= w.label "Title" %>
	    	</div>
	    	<div class="col-md-8">
	    		<%= w.text_field :whitepaper_title %>
	    	</div>
	    	<div class="col-md-4 label">
	    		<%= w.label "PDF" %>
	    	</div>
	    	<div class="col-md-8">
	    		<%= w.file_field :whitepaper %>
	    	</div>
	    </div>
   	<% end %>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Status", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :status, Network.network_status_options.keys.to_a %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Category", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			  <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: 'Select a category' }, class: 'form-input' %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Coins", class: "form-label select-label" %>
			<h6 class="label-helper">Select one or more</h6>
		</div>
		<div class="col-md-8">
			<%= f.select :coin_ids, options_for_select(Coin.all.order("name ASC").map {|c| [c.name, c.id, {'data-icon' => c.logo}, {class: 'coin-option'}]}, selected: @network.coins.ids), {}, {multiple: true, size: 8.5, id: "coin-option"} %>
			<%= link_to "Don't see the coin? Add it", new_coin_url, class:"add-another", target: "_blank" %>
		</div>
	</div>	
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "URL", class: "form-label" %>
		</div>
		<div class="col-md-8">
			  <%= f.text_field :link, class: "form-input" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Organization", class: "form-label" %>
		</div>
		<div class="col-md-8">
			  <%= f.text_field :team, class: "form-input" %>
		</div>
	</div>			
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Founders", class: "form-label" %>
		</div>
		<div class="col-md-8 founder-list">
			<% if @network.founders.empty? %>
				<%= text_field_tag 'founders[]' %>
			<% else %>
				<% @network.founders.each_with_index do |founder, i| %>
					<div class="founder-field">
						<%= text_field_tag 'founders[]', @network.founders[i] %>
			  			<a class="remove-founder-field remove-fields">Remove</a>
			  		</div>
				<% end %>
			<% end %>
			<a class="add-another" id="add-another-founder">Add another founder</a>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Slack", class: "form-label" %>
		</div>
		<div class="col-md-8">
			  <%= f.text_field :slack, class: "form-input" %>			  
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Forum", class: "form-label" %>
		</div>
		<div class="col-md-8">
			  <%= f.text_field :forum, class: "form-input" %>
		</div>
	</div>
	<ul class="action-links">
		<li class="submit">
			<%= f.submit "Submit changes", class: "form-submit" %> 
		</li>
	</ul>
<% end %>