<ul id="info-menu">
	<li class="active-item" id="details"><p><%= link_to "Details", @network %><p></li>
	<li id="whitepapers"><p><%= link_to "Whitepapers", "/networks/#{@network.name.downcase}/whitepapers", remote: true %></p></li>
	<li id="links"><p><%= link_to "Links", "/networks/#{@network.name.downcase}/links", remote: true %></p></li>
	<li id="log"><p><%= link_to "Log", "/networks/#{@network.name.downcase}/logs", remote: true %></p></li>
</ul>