<ul>
	<% if @network.links.empty? %>
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<p class="add-first">No links yet. <%= link_to "Add one?", new_link_url(network: @network), remote: true %></p>
			</div>
		</div>
	<% else %>
		<%= render(partial: 'links/show_all_links', collection: @network.links, as: :link, locals: {show_tag: false}) %>
	<% end %>
</ul>