<li class="log-block block">
	<div class="row">
		<div class="col-md-4">
    		<% unless log.networks.nil? %>
	    		<div class="user-log-classification">
					<div class="user-log-classification-network">
						<%= image_tag(log.networks.logo.small.url, size: "20x20") if log.networks.logo? %>
						<%= link_to truncate(log.networks.name, length: 16), log.networks %>
					</div>
				</div>
			<% end %>
			<h6 class="when-posted"><%= time_ago_in_words(log.created_at) %></h6>
			<% if defined?(current_user) %>
				<%= link_to log.user, class: "who-posted" do %>
    				<%= image_tag(log.user.avatar, size: '16x16', class: 'avatar') if defined?(log.user.avatar) %>
    				<% if defined?(log.user.username) %>
    					<%= current_user == log.user ? "Me" : log.user.username %>
    				<% end %>
    			<% end %>
    		<% elsif defined?(log.user) && !log.user.nil? %>
    			<%= link_to log.user, class: "who-posted" do %>
    				<%= image_tag(log.user.avatar, size: '16x16', class: 'avatar') %>
    				<%= log.user.username %>
    			<% end %>
    		<% end %>
		</div>
		<div class="col-md-8">
			<ul class="log-list"> 
				<% log.changes.each do |change| %>
					<li>
						<% case change[:change_attr] %>
							<% when "whitepapers" %>
								<% if change[:change_type] == "added" || change[:change_type] == "edited" %>
								<%= change[:change_attr].capitalize %>
									added
								<% end %>
							<% when "founders" %>
								<%= change[:change_attr].capitalize %>
								<% if change[:change_type] == "added" %>
									added: 
									<% change[:change].second.each_with_index do |change, i| %>
										<%= change %>
									<% end %>
								<% elsif change[:change_type] == "edited" %>
									changed from 
										<% change[:change].first.each_with_index do |c, i| %>
											<%= " and " if i + 1 == change[:change].first.length && change[:change].first.length != 1 %><%= c %><%= ",	" unless i + 1 == change[:change].first.length || i + 2 == change[:change].first.length  %>
										<% end %>
									to 
										<% change[:change].second.each_with_index do |c, i| %>
											<%= " and " if i + 1 == change[:change].second.length && change[:change].second.length != 1 %><%= c %><%= ",	" unless i + 1 == change[:change].second.length || i + 2 == change[:change].second.length || change[:change].first.length == 1 %>
										<% end %>
								<% end %>
							<% when "status" %>
								<%= change[:change_attr].capitalize %>
								<% if change[:change_type] == "added" %>
									added: 
									<% change[:change].second.each_with_index do |c, i| %>
										<%= c.first %>
									<% end %>
								<% elsif change[:change_type] == "edited" %>
									changed from 
										<% change[:change].first.each_with_index do |c, i| %>
											<%= c.first %>
										<% end %>
									to 
										<% change[:change].second.each_with_index do |c, i| %>
											<%= c.first %>
										<% end %>
								<% end %>
							<% when "Created" %>
								Created 
									<%= link_to log.networks.name, log.networks %>
							<% when "logo" %>
								New logo							
							<% else %>
								<%= change[:change_attr].capitalize %>
								<% if change[:change_type] == "added" %>
									added: "<%= change[:change].second.capitalize %>"
								<% elsif change[:change_type] == "edited" %>
									changed from "<%= change[:change].first %>" to "<%= change[:change].second.capitalize %>"
								<% end %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</li>