<% if(network_results.length > 1) %>
	<p class="heads-up">Heads up! The 
	<% network_results.each do |network| %>
		<% if network == network_results.last %>
			and <%= link_to(network.name, network) %>
		<% elsif network_results.index(network) == network_results.length - 2 %>
			<%= link_to(network.name, network) %>
		<% else %>
			<%= link_to(network.name, network) %>,
		<% end %>
	<% end %>
	networks already exist.</p>
<% else %>
	<p class="heads-up">Heads up! The <%= link_to(network_results.first.name, network_results.first) %> network already exists.</p>
<% end %>
<p>If that's not what you're adding, ignore this.</p>