<%= link_to(network, class: 'network-widget widget') do %>
	<div class="col-md-3 <%= network.category.name.downcase unless network.category.nil? %> <%= "col-md-offset-1" unless i == 0 || i % 3 == 0 %> network-in-categories">
		<% if network.logo.nil? || network.logo.blank? %>
			<%= image_tag "fallback/default.png", size: '60x60', class: 'network-logo' %>
		<% else %>
			<%= image_tag network.logo, size: '60x60', class: 'network-logo' %>
		<% end %>
		<h6><%= network.name.downcase[0..15] %></h6>
	</div>
<% end %>