<ul>
	<li class="network-main-info network-info-block block">
		<% if @network.logo.to_s == "/assets/fallback/default.png" %>
			<div class="row">
				<div class="col-md-4 label">
					<h6>logo</h6>
				</div>
				<div class="col-md-8">
					<%= link_to "Add a logo to #{@network.name}", edit_network_url, class: "add-missing-field" %>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div class="col-md-4 label">
				<h6>status</h6>
			</div>
			<div class="col-md-8 status">
				<div class="status-icon <%= @network.status.downcase %>-icon"></div>
				<p class="status <%= @network.status.downcase %>-status"><%= @network.status.downcase %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 label">
				<h6>description</h6>
			</div>
			<div class="col-md-8">
				<% if @network.description.blank? %>
					<%= link_to "Add a description to #{@network.name}", edit_network_url, class: "add-missing-field" %>
				<% else %>
					<p><%= @network.description %></p>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 label">
				<h6>Coins</h6>
			</div>
			<div class="col-md-8">
				<% if @network.coins.any? %>
					<ul>
						<% @network.coins.each_with_index do |coin, i| %>
							<li>
								<%= link_to coin.name, network_coin_path(@network, coin), remote:true %>
							</li>
						<% end %>
					</ul>
				<% else %>
					<%= link_to "Add a coin to #{@network.name}", edit_network_url, class: "add-missing-field" %>
				<% end %>
			</div>
		</div>
	</li>
</ul>
<ul>
	<li class="network-links network-links-block block">
		<div class="row">
			<div class="col-md-8 col-md-offset-4 title-row">
				<h6>people</h6>
			</div>
		</div>		
		<div class="row">
			<div class="col-md-4 label">
				<h6>Founders</h6>
			</div>
			<div class="col-md-8">
				<% if @network.founders.empty? %>
					<%= link_to "Add founders to #{@network.name}", edit_network_url, class: "add-missing-field" %>
				<% else %>
					<ul>
						<% @network.founders.each do |founder| %>
							<li>
								<%= founder %>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 label">
				<h6>Owner</h6>
			</div>
			<div class="col-md-8">
				<p><%= @network.team %></p>
			</div>
		</div>						
	</li>
</ul>
<ul>
	<li class="network-links network-links-block block">
		<div class="row">
			<div class="col-md-8 col-md-offset-4 title-row">
				<h6>go</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 label">
				<h6>url</h6>
			</div>
			<div class="col-md-8">
				<%= link_to @network.name, @network.link %>
			</div>
		</div>
	</li>
</ul>