<% provide(:title, 'Edit network') %> 
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<h3>Edit <%= @network.name %></h3>
			</div>
		</div>
		<%= render 'form' %>
	</div>
</div>

