<div class="row">
	<%= render 'category_menu' %>
	<div class="col-md-6 main col-xs-12 col-md-offset-1">
		<%= render partial: 'all_categories', collection: @categories, as: :category, cached: true %>
	</div>
</div>
