$('.content').html("<%= j (render 'links') %>");
$('#details').removeClass("active-item");
$('#links').addClass("active-item");
$('.action-links').html('<li><%= link_to "Add new link", new_link_url(network: @network, obj_type: "network"), remote: true, class: "action-link", accesskey: "A" %></li>');
