<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', object: @network) %>
	</div>
	<div class="col-md-6 main">
		<ul>
			<li class="network-header network-info-block block">
				<%= render(partial: 'networks/network_main_info_header') %>
			</li>
			<%= render 'log', collection: @logs %>
		</ul>
	</div>
</div>