<% provide(:title, 'Add new network') %> 
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="info-header">
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<h1>Add a new network</h1>
				</div>
			</div>
			<%= render partial: 'form', locals: {is_new: true} %>
		</div>
	</div>
</div>

