<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', locals: { network: @network, active_item: "details"}) %>
	</div>
	<div class="col-md-6 main">
		<div class="info-header">
			<%= render(partial: 'networks/network_main_info_header', locals: { network: @network }) %>
		</div>
		<div class="content">
			<%= render 'show_network' %>
		</div>
	</div>
	<ul class="action-links">
		<% if current_user %>
			<li><%= link_to("Edit #{@network.name}", edit_network_path, class: "action-link", accesskey: 'E') %></li>
		<% else %>
			<li><%= link_to("Edit #{@network.name}", '/signin', class: "action-link", accesskey: 'E') %></li>
		<% end %>
	</ul>
</div>