<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', object: @network) %>
	</div>
	<div class="col-md-6 main">
		<%= render 'show_network' %>
	</div>
	<ul class="action-links">
		<li><%= link_to("Add new network", new_network_path, remote: true, class: "action-link", accesskey: 'A') %></li>
		<li><%= link_to("Edit #{@network.name}", edit_network_path, remote: true, class: "action-link", accesskey: 'E') %></li>
	</ul>
</div>