$('.content').html("<div class='row'><div class='col-md-8 col-md-offset-4'><%= j (render 'whitepapers') %></div></div>");
$('#details').removeClass("active-item");
$('#whitepapers').addClass("active-item");
$('.action-links').show();
$('.action-links').html('<li><%= link_to "Add new whitepaper", new_whitepaper_url(network: @network, obj_type: "network"), remote: true, class: "action-link", accesskey: "A" %></li>');
