<div class="row">
	<div class="col-md-8">
		<% if @network.whitepapers.empty? %>
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<p class="add-first">No whitepapers yet. <%= link_to "Add one?", new_whitepaper_url(network_id: @network) %></p>
				</div>
			</div>
		<% else %>
			<% @whitepapers.each do |wp| %>
				<li class="whitepapers block">
					<%= render 'single_whitepaper', wp: wp, network: wp.network %>
				</li>
			<% end %>
		<% end %>
	</div>
</div>