<div class="row">
	<div class="col-md-4 col-xs-12 label">
		<h6>Networks followed</h6>
	</div>
	<div class="col-md-8">
		<div class="results profile-followed">
			<% if @networks_following.any? %>
				<ul class="network-following-list">
					<% @networks_following.each_with_index do |network, i| %>
						<li>
							<%= render partial: 'networks/network_widget', locals: { network: network, i: i } %>	
						</li>
					<% end %>
				</ul>
			<% else %>
				<p>None</p>
			<% end %>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-xs-12 label">
		<h6>Coins followed</h6>
	</div>
	<div class="col-md-8">
		<div class="results profile-followed">
			<% if @coins_following.any? %>
				<ul class="coin-following-list">
					<% @coins_following.each_with_index do |coin, i| %>
						<li>
							<%= render partial: 'coins/coin_widget', locals: { coin: coin, i: i } %>	
						</li>
					<% end %>
				</ul>
			<% else %>
				<p>None</p>
			<% end %>
		</div>
			<div class="clear"></div>
		</div>
	</div>
</div>