<%= form_for(@user, authenticity_token: true) do |f| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-4">
      <%= image_tag current_user.avatar, size: "60x60", id: "coin-logo" if @user.avatar? %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 label">
      <%= f.label "Avatar", class: "form-label" %>
    </div>
    <div class="col-md-8">
      <%= f.file_field :avatar, class: 'filestyle' %>
    </div>
  </div>
   <div class="row grouped-row grouped-row-first name-group">
    <div class="col-md-4 label">
      <%= f.label "First name", class: "form-label" %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :first_name, class: "form-input" %>
    </div>
  </div>
  <div class="row grouped-row grouped-row-last name-group">
    <div class="col-md-4 label">
      <%= f.label "Last name", class: "form-label" %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :last_name, class: "form-input" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 label">
      <%= f.label "Username", class: "form-label" %>
    </div>
    <div class="col-md-8">
      <%= f.text_field :username, class: "form-input" %>
    </div>
  </div>
  <ul class="action-links">
    <li class="submit">
      <%= f.submit "Submit changes", class: "form-submit" %> 
    </li>
  </ul>
<% end %>