<ul id="info-menu">
	<% if !@user.nil? %>
		<li class="active-item" id="account"><p><%= link_to "Account", '/account' %><p></li>
	<% end %>
	<li id="activity"><p><%= link_to "Activity", @user, remote: true %></p></li>
</ul>