<ul class="info-menu">
	<li class="active-item" id="following">
		<p>
			<%= link_to "Following", user_path(@user) %>
		</p>
	</li>
	<% if @user == current_user %>
		<li id="account">
			<p>
				<%= link_to "Account", edit_user_path(@user), remote: true %>
			</p>
		</li>
	<% end %>
	<li id="activity">
		<p>
			<%= link_to "Activity", user_activity_path(@user), remote: true %>
		</p>
	</li>
</ul>