<ul class="info-menu">
	<li class="active-item" id="following">
		<p>
			<%= link_to "Following", current_user_path(current_user.username) %>
		</p>
	</li>
	<% if !@user.nil? %>
		<li id="account">
			<p>
				<%= link_to "Account", edit_current_user_path(current_user.username), remote: true %>
			</p>
		</li>
	<% end %>
	<li id="activity">
		<p>
			<%= link_to "Activity", current_user_activity_path(current_user.username), remote: true %>
		</p>
	</li>
</ul>