<ul id="info-menu">
	<% if !@user.nil? %>
		<li class="active-item" id="account"><p><%= link_to "Account", '/account' %><p></li>
	<% end %>
	<% if @user.id == current_user.id %>
		<li id="activity"><p><%= link_to "Activity", '/' + current_user.username, remote: true %></p></li>
	<% else %>
		<li id="activity"><p><%= link_to "Activity", @user, remote: true %></p></li>
	<% end %>
</ul>