<ul>
	<li class="user-header user-info-block block">
		<%= render(partial: 'user_main_info_header') %>
	</li>
	<%= content_tag(:div, content_tag(:div, content_tag(:li, "No activity yet"), class: "col-md-8 col-md-offset-4"), class: "row") if @logs.empty? %>
	<%= render 'shared/logs', locals: {logs: @logs} %>
</ul>
