<div class="row">
	<div class="col-md-8 data col-md-offset-4">
		<%= image_tag @user.avatar, size: "60x60", id: "user-avatar" if @user.avatar? %>
		<h1 id="user-username"><%= @user.username %></h1>
	</div>
</div>