<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ul>
			<li class="user-header user-info-block block">
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<h1>News &amp; updates</h1>
					</div>
				</div>
			</li>
			<% puts "Miami #{@logs.inspect}" %>
			<% @logs.each do |log| %>
				<%# cache log do %>
					<% if log.feed_type == "network_log" %>
						<%= render(partial: 'networks/log', locals: {log: log}) %>
					<% elsif log.feed_type == "coin_log" %>
						<%= render(partial: 'coins/log', locals: {log: log}) %>	
					<% elsif log.feed_type == "link" %>
						<% puts "Miami #{log.inspect}" %>
						<%= render(partial: 'links/show_all_links', locals: {link: log.data, coins: log.coins, networks: log.networks, user: log.user}) %>
					<% end %>
				<%# end %>
			<% end %>
		</ul>
	</div>
</div>
