<%= javascript_include_tag "paginate_logs" %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ul class="action-links">
			<li><%= link_to("New link", new_link_path, remote: false, class: "action-link", accesskey: 'L') %></li>
			<li><%= link_to("New network", new_network_path, remote: false, class: "action-link", accesskey: 'N') %></li>
		</ul>
		<ul class="feed">
			<li class="intro-header user-info-block block">
				<div class="row">
					<div class="col-md-12 intro-block">
						<h1>Welcome to the Coindexter beta</h1>
						<p>Coindexter is a way to discover up and coming blockchain networks and app coins. There are already a bunch of places on the web where you can view financials for live coins. Coindexter is where you can discover and talk about what's not yet live. You can edit the records for each network or coin, like a wiki, and share links and whitepapers and comment on them, like Reddit or Hacker News.</p>
						<p>The site doesn't quite convey that yet. I'm working on it. In the meantime I'm eager to get your feedback, and grateful for helping to get started crowdsourcing.</p>
						<p>To that end, here's some recent activity on Coindexter.</p>
					</div>
				</div>
			</li>
			<%= render 'shared/logs', locals: {logs: @logs} %>
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<p class="loading-more">Loading more...</p>
				</div>
			</div>
			<%#= will_paginate @logs %>
		</ul>
	</div>
</div>
