<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', object: {user: @user}, locals: {active_item: @active_item}) %>
	</div>
	<div class="col-md-9 main">
		<div class="info-header">
			<div class="row">
				<div class="col-md-9 col-xs-12">
					<%= render(partial: 'user_main_info_header') %>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-md-9 col-xs-12 following-cnt">
					<%= render 'following' %>
				</div>
			</div>
		</div>
	</div>
</div>
