<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', object: {user: @user}) %>
	</div>
	<div class="col-md-6 main">
		<%= render 'following' %>
	</div>
</div>
