<script src="https://cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('OzjRXl3kCGXuWsfg9u9GkdKd2gkJPRjB', 'libvoness.auth0.com', {
    auth: {
      redirectUrl: 'http://127.0.0.1:3000/auth/auth0/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>
<button onclick="lock.show();">Login</button>