<div class="row">
  <div class="col-md-6 col-md-offset-3 main">
    <form class="sign-in-up">
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <h6>sign in with email</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 label">
          <label>Email</label>
        </div>
        <div class="col-md-8">
          <input type="text" id="email">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 label">
          <label>Password</label>
        </div>
        <div class="col-md-8">
          <input type="password" id="password">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <button class="signin-db">Sign in with Email/Password</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <h6>social sign in</h6>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 label">
          <label>google</label>
        </div>
        <div class="col-md-8">
          <button class="signin-google-popup">Sign in with Google</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 label">
          <label>twitter</label>
        </div>
        <div class="col-md-8">
          <button class="signin-twitter">Sign in with Twitter</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 label">
          <label>facebook</label>
        </div
        <div class="col-md-8">
          <button class="signin-facebook">Sign in with Facebook</button>
        </div>
      </div>
    </form>
  </div>
</div>