<% @logs.each do |log| %>
	<% cache log do %>
		<% if log.feed_type == "network_log" %>
			<%= render(partial: 'networks/log', locals: {log: log}) %>
		<% elsif log.feed_type == "coin_log" %>
			<%= render(partial: 'coins/log', locals: {log: log}) %>	
		<% elsif log.feed_type == "link" %>
			<%= render(partial: 'links/show_all_links', locals: {link: log.data, coins: log.coins, networks: log.networks, user: log.user}) %>
		<% end %>
	<% end %>
<% end %>