<div class="row">
	<div class="col-md-8 data col-md-offset-4">
		<%= image_tag @project.logo, size: "60x60", id: "project-logo" if @project.logo? %>
		<h1 id="project-name"><%= @project.name %></h1>
	</div>
</div>