<li class="link-block">
	<div class="row">
		<div class="col-md-4">
			<h6 class="when-posted"><%= time_ago_in_words(link.created_at) %> ago</h6>
		</div>
		<div class="col-md-8">
			<h6 class="link-title"><%= link_to link.title, link.link %></h6>
			<% if link.comment_count > 1 || link.comment_count == 0 %>
				<h6 class="comment-count"><%= link_to "#{link.comment_count} comments", link %></h6>
			<% elsif link.comment_count > 0 %>
				<h6 class="comment-count"><%= link_to "#{link.comment_count} comment", link %></h6>
			<% end %>
		</div>
	</div>
</li>
