<li class="link-block block">
	<div class="row">
		<div class="col-md-4">
			<% if defined?(coins) && !coins.nil? %>
	    		<div class="user-log-classification">
					<% coins.each do |coin| %>
						<div class="user-log-classification-coin">
							<% if !coin.logo.nil? %>	
								<%= image_tag(coin.logo.small.url, size: "20x20") unless coin.logo.blank?  %>
							<% end %>
							<%= link_to coin.name, coin %>
						</div>
					<% end %>
				</div>
			<% end %>
			<% if defined?(networks) && !networks.nil? %>
	    		<div class="user-log-classification">
					<% networks.each do |network| %>
						<div class="user-log-classification-network">
							<% if !network.logo.nil? %>
								<%= image_tag(network.logo.small.url, size: "20x20") unless network.logo.blank? %>
							<% end %>
							<%= link_to network.name, network %>
						</div>
					<% end %>
				</div>
			<% end %>
			<h6 class="when-posted"><%= time_ago_in_words(link.created_at) %></h6>
			<% if defined?(user) && !user.nil? && !current_user.nil? %>
				<%= link_to user, class: "who-posted" do %>
    				<%= image_tag(user.avatar, size: '20x20', class: 'avatar') if defined?(user.avatar) %>
    				<%= current_user == user ? "Me" : user.username%>
    			<% end %>
    		<% else %>
    			<%= link_to link.user, class: "who-posted" do %>
    				<%= image_tag(link.user.avatar, size: '20x20', class: 'avatar') if defined?(link.user.avatar) %>
    				<%= link.user.username %>
    			<% end %>
    		<% end %>
		</div>
		<div class="col-md-8">
			<h6 class="link-title"><%= link_to link.title, link.link %></h6>
			<% if link.comment_count > 1 || link.comment_count == 0 %>
				<h6 class="comment-count"><%= link_to "#{link.comment_count} comments", link %></h6>
			<% elsif link.comment_count > 0 %>
				<h6 class="comment-count"><%= link_to "#{link.comment_count} comment", link %></h6>
			<% end %>
		</div>
	</div>
</li>
