<li class="link-block block">
	<div class="row">
		<div class="col-md-4 link-association">
			<% unless defined? needs_tag %>
				<% if link.networks.nil? or link.networks.empty? %>
		 		<div>&nbsp;</div>
				<% else %>
					<% link.networks.each do |network| %>
						<%= link_to network, class: "user-log-classification-anchor" do %>
							<div class="user-log-classification">
								<div class="user-log-classification-link">
									<% unless network.logo.nil? %>
										<%= image_tag(network.logo.small.url, size: "20x20") unless network.logo.blank? %>
									<% end %>
									<%= truncate(network.name, length: 16) %>
									<div style="clear:both;"></div>
								</div>
								<div style="clear:both;"></div>
							</div>
							<div style="clear:both;"></div>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</div>
		<%= render partial: '/links/link_data', locals: { link: link } %>
		<div style="clear: both;"></div>
	</div>
</li>
