$('.content').html("<ul class='link-list'><%= j (render(partial:'show_all_links', collection: @links, as: :link)) %></ul>");
$(".link-list").append("<%= escape_javascript(render(partial: 'show_all_links', collection: @links, as: :link)) %>");
$('.pagination').replaceWith("<%= escape_javascript will_paginate(@links) %>");
$('#links').addClass("active-item");
$('.action-links').html('<li><%= link_to "Add new link", new_link_url(network: @network, obj_type: "network"), remote: true, class: "action-link", accesskey: "A" %></li>');