$('.add-first').hide();
$('.content').html("<div class='col-md-8'><div class='row'><%= j (render('form')) %></div></div>");
$('#info-menu > li').removeClass('active-item');
$('#links').addClass("active-item");
$('.optional-toggle').on('click', function() {
	$(this).hide();
	$('.optional-field').show();
}); 			

