$('.coin-info-block').hide();
$('.coin-header').show();
$('.add-first').hide();
$('.coin-header').after("<%= j (render 'form') %>");
$('#info-menu > li').removeClass('active-item');
$('#links').addClass("active-item");
$('.optional-toggle').on('click', function() {
	$(this).hide();
	$('.optional-field').show();
}); 			

