<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render 'info_menu', locals: {link: @link} %>
	</div>
	<div class="col-md-6 main">
		<%= render 'show_link', locals: {link: @link} %>
	</div>
	<% if current_user.id == @link.user_id %>
		<ul class="action-links">
			<li><%= link_to("Add new link", new_link_path, remote: true, class: "action-link", accesskey: 'A') %></li>
			<li><%= link_to("Edit this", edit_link_path, remote: true, class: "action-link", accesskey: 'E') %></li>
		</ul>
	<% end %>
</div>