<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render 'info_menu', locals: {link: @link} %>
	</div>
	<div class="col-md-6 main">
		<%= render 'show_link', locals: {link: @link} %>
	</div>
	<ul class="action-links">
		<% if current_user && current_user.id == @link.user_id %>
			<li><%= link_to(edit_link_path, remote: true, class: "action-link", accesskey: 'E') do %>
				Edit this
				<% end %>
			</li>
		<% end %>
	</ul>
</div>