<div class="row">
  <div class="col-md-6 col-md-offset-3 main">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => 'sign-in-up'}) do |f| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <h1>Log in</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 label">
          <%= f.label :email %><br />
        </div>
        <div class="col-md-8">
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 label">
          <%= f.label :password %><br />
        </div>
        <div class="col-md-8">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <label>remember me?</label>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <%= f.submit "Log in" %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
