<div class="col-md-2 col-md-offset-1 left-nav">
	<ul id="info-menu" class="search-filter-categories">
		<li id="show-all" class="active-item"><p>All</p></li>
		<% @categories.each do |category| %>
			<% unless category.coins.empty? %>
				<li id=<%= category.name.downcase %>><p><%= category.name.capitalize %></p></li>
			<% end %>	
		<% end %>
	</ul>
</div>