<div class="col-md-2 col-md-offset-1 left-nav">
	<ul id="info-menu" class="search-filter-categories">
		<li id="show-all" class="active-item"><p>All categories</p></li>
		<% @result_categories.each do |category| %>
			<% unless category.nil? %>
				<li class="category-link" id=<%= category.name.gsub(/\s+/, "").downcase %>>
						<p><%= category.name.capitalize %></p>
				</li>
			<% end %>
		<% end %>
	</ul>
</div>