<div class="row">
	<%= render 'filters', object: @categories %>
	<div class="col-md-6 main">
		<ul>
			<li class="search-block">
				<div class="row">
					<div class="col-md-10 col-md-offset-2">
						<div class="row results">
							<h1 class="list-name">Results for '<%= @query %>'</h1>
							<% if @results.empty? %>
								<p>No coins found</p>
							<% else %>
								<% @results.each_with_index do |result, i| %>
									<%= render '/coins/coin_widget', :coin => result, :i => i %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>