<div class="row">
	<%= render 'filters', object: @categories %>
	<div class="col-md-6 main">
		<ul>
			<li class="search-block block">
				<div class="row">
					<div class="col-md-10 col-md-offset-2">
						<div class="row results">
							<h1 class="list-name">Coins matching '<%= @query %>'</h1>
							<% if @coin_results.empty? %>
								<p>No coins found</p>
							<% else %>
								<% @coin_results.each_with_index do |result, i| %>
									<%= render '/coins/coin_widget', :coin => result, :i => i %>
								<% end %>
							<% end %>
						</div>
						<div class="row results">
							<h1 class="list-name">Networks matching '<%= @query %>'</h1>
							<% if @network_results.empty? %>
								<p>No networks found</p>
							<% else %>
								<% @network_results.each_with_index do |result, i| %>
									<%= render '/networks/network_widget', :network => result, :i => i %>
								<% end %>
							<% end %>
						</div>
						<div class="row results">
							<h1 class="list-name">Whitepapers matching '<%= @query %>'</h1>
							<% if @whitepaper_results.empty? %>
								<p>No whitepapers found</p>
							<% else %>
								<% @whitepaper_results.each_with_index do |wp, i| %>
									<%= wp.network.name %>
									<p><%= wp.whitepaper_title %></p>
									<%= link_to wp do %>
										<%= image_tag wp.whitepaper.thumb, class: "whitepaper-thumbnail" if wp.whitepaper.thumb  %>
									<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<ul class="action-links">
	<li><%= link_to("Add new network", new_network_path, class: "action-link", accesskey: 'A') %></li>
</ul>