/* @import "bootstrap-sprockets"; */
/* @import "bootstrap"; */

$primary-orange: rgb(235,107,51);
$background-orange: rgb(235,107,51);
$primary-blue: rgb(51,108,158);
$primary-green: rgb(35,160,109);
$text: rgb(84,84,84);
$text-light: rgb(204,204,204);

input, label {
	float:left;
	clear:both;
}