@import "bootstrap-sprockets"; 
@import "bootstrap"; 
@import "bootstrap3-switch";

$primary-orange: rgb(235,107,51);
$secondary-orange: rgb(245,144,101);
$navbar-orange: rgb(253,238,233);
$border-orange: rgb(251,226,216);
$background-orange: rgb(254,247,245);
$primary-blue: rgb(51,108,158);
$primary-green: rgb(35,160,109);
$secondary-green: rgb(86,207,158);
$text: rgb(84,84,84);
$text-light: rgb(204,204,204);
$concept-outer: #EB3333;
$concept-inner: #F56565; 
$pre-production-outer: #EBCB33;
$pre-production-inner: #F5DC65;
$twitter: rgb(29,161,242);
$facebook: rgb(59,89,152);
$google: rgb(221,75,57);

@mixin small-case {
	text-transform:lowercase;
	font-family: "WhitneyHTF-MediumSC";
	letter-spacing: 0.02em;
	color: $primary-orange;
} 

html, body {
	height: 100%;
}

body {
	background-color: $background-orange;
	color: $text;
	font-family: "WhitneyHTF-Medium";
	font-size: 16px;
	line-height: 1.5;
	.main-container {
		padding: 2em 0 6em 0;
	}
	height: 100%;
}

p.notice, p.alert {
	text-align:center;
	display: block;
	padding: 1em 2em;
	display:none;
	color: white;
}

p.notice {
	background: $secondary-green;
	border-top: 2px solid $primary-green;
	border-bottom: 2px solid $primary-green;
}

p.alert {
	background: $concept-inner;
	border-top: 2px solid $concept-outer;
	border-bottom: 2px solid $concept-outer;
	border-radius: 0px;
}

.main {
	border-left: 1px solid $border-orange;
	min-height:500px;
	margin-bottom:120px;
}

#wrap {
	min-height:90%;
	height: auto !important;
	margin: 0 auto -60px;
}

footer {
	background-color: $navbar-orange;
	border-top: 1px solid $border-orange;
	ul {
		li {
			float:right;
			padding: 1em 0 1em 1em;
			@include small-case;
			color: $text;
			a {
				color: $primary-orange;
			}
		}
	}
}

#push, footer {
	height:60px;
}

a {
	color: $primary-orange;
	text-decoration:none;
	&:hover {
		text-decoration:none;
		color: $secondary-orange;
	}
	&:visited {
		text-decoration:none;
	}
	&:active {
		text-decoration:none;
	}
}

ul, li {
	list-style-type:none;
	text-indent:none;
}

.navbar {

}


label {
	font-weight:normal;
}

nav, .navbar {
	border-top: 8px solid $primary-orange;
	border-bottom: 1px solid $border-orange;
	background-color: $navbar-orange;
	margin-bottom: 30px;
	height: 80px;
	padding-top: 8px;
	border-radius: 0;
	border-left: 0;
	border-right: 0;
	.container {
		.navbar-header {
			a.navbar-brand {
				font-family:Phosphate-solid;
				letter-spacing: 0.05em;
				color: $primary-orange;
				font-size:28px;
				text-transform:uppercase;
				margin-top:7px;
				float:left;
				padding:0;
				margin:4px -4px 0 0;
			}
			form {
				float:left;
				.form-group	{
					span {
						color: $primary-orange;
						padding-top:11px;
						padding-right:8px;
					}
					input {
						border-radius: 0 4px 4px 0;
						box-shadow:none;
						border: 2px solid $primary-orange;
						color: $text;
						font-family: "WhitneyHTF-Medium";
						padding: 22px 12px;
						font-size:16px;
						width:320px;
						margin-top:4px;
						&:active {
							color:$text;
						}
					}
					::-webkit-input-placeholder {
						color: $text-light;
					}
					.form-control-feedback {
						z-index:3;
					}
				}
			} 
		}
		#navbar {
			border: none;
			ul.nav {
				margin-top: 10px;
				li {
					@include small-case;
					margin-right: 8px;
					text-align:left;
					h6, a {
						padding-top:0;
						@include small-case;
						padding-left:2px;
					}	
					h6 {
						color: $text;
						font-size:16px;
						margin-top:2px;
						padding-top:0;
						padding-right:12px;
					}
					a {
						color: $primary-orange;
						margin-top:4px;
						&:hover {
							background:none;
						}
					}
					a.account {
						margin-top:-4px;
					}
					img.avatar {
						border-radius: 4px;
						margin-right: 6px;
						float:left;
					}	
					&:last-child {
						width: 150px;
					}
				}
				li#header-link-sales > a {
					opacity: 0.4;
				}
				li#header-link-account {
					margin-top:-10px;
					padding:8px;
					a {
						float:left;
					}
					a.user-activity {
						padding-right:8px;
					}
					a.header-link-account-glyphicon {
						display:none;
						margin-top:9px;
					}
					&:hover {
						cursor:pointer;
					}
					p {
						float:left;
						margin-top:2px;
					}
					a.login-link {
						margin-top:6px
					}
				}	
			}
		}
	}
}	

.left-nav {
	/* background-color: $navbar-orange;
	padding-bottom:163px; */
}

ul#info-menu {
	text-align:right;
	margin-top: 163px;
	margin-right:20px;
	padding-left: 0px;
	li {
		
		margin-bottom:14px;
		clear:both;
		height:24px;
		a {
			opacity:0.4;
			color: $primary-orange;
			font-family: "WhitneyHTF-Medium";
			margin:0;
			padding:0;
			&:hover {
				border-bottom: 1px solid $primary-orange;
				color: $primary-orange;
				padding-bottom:1px;
				display:inline;
				cursor:pointer;
				opacity:1;
			}
		}
		.user-log-classification {
			clear:both;
			margin-top:4px;
			margin-right:-12px;
			opacity: 0.6;
			&:hover {
				opacity: 1;
			}
		}
		.user-log-classification-coin {
			font-family:"WhitneyHTF-MediumSC";
			margin-bottom:0;
			text-transform:lowercase;
			&:hover {
				text-decoration:none;
				border:1px solid $primary-orange;
			}
		}
		.user-log-classification:last-child {
			.user-log-classification-coin {
				margin-bottom:24px;
			}
		}
	}
	li.active-item {
		a {
			opacity: 1;
			border-bottom: 2px solid $primary-orange;
			padding-bottom:1px;
			display:inline;
		}
		.user-log-classification {
			opacity: 1;
			.user-log-classification-coin {
				border: 1px solid $primary-orange;
				opacity: 1;
				color: $primary-orange;
			}
		}
	}
	li#coins {
		margin-top:48px;
		font-family:"WhitneyHTF-MediumSC";
		a {
			border-bottom: none;
		}
	}
	li.menu-title {
		font-family:'WhitneyHTF-MediumSC';
		font-size:18px;
		margin-top: 48px;
	}
}

.block, .edit_coin, .new_coin, .sign-in-up, .new_link, .edit_link, .new_comment, .edit_comment, .new_network, .edit_network, .edit_user {
	margin-bottom:64px;
}

.link-block {
	margin-bottom:24px;
	padding-bottom:24px;
	border-bottom: 1px $border-orange solid;
	&:last-child {
		border-bottom:none;
	}
}

.block, .edit_coin, .new_coin, .sign-in-up, .new_link, .edit_link, .new_comment, .edit_comment, .new_network, .edit_network, .edit_user, .main, .content {
	.row {
		&:last-child {
			margin-bottom:0px;
		}
		margin-bottom:12px;
		.label {
			text-align:right;
			text-transform:lowercase;
			font-family: 'WhitneyHTF-MediumSC';
			font-size: 18px;
			em {
				font-size:13px;
				font-family: 'WhitneyHTF-Medium';
				color: $text-light;
				font-style:normal;
			}
			h6.label-helper {
				color: $text-light;
				margin-top:4px;
				font-family: "WhitneyHTF-Medium";
				font-size:14px;
				text-transform:none;
			}
		}
		.already-have-account {
			margin-top:24px;
			h6 {
				margin-top:12px;
			}

		}

		.social-sign-in {
			margin-bottom:-12px;
		}
		.title-row > h6 {

		}
		div[class*='col-'] {
			p {
				margin: 0;
			}
			h6, label {
				margin: -2px 0 0 0;
				font-family: 'WhitneyHTF-MediumSC';
				color: $text;
				font-size: 18px;
				span {
					color: $text-light;
				}
			}
			.oauth-signin {
				padding: 8px 16px 9px 44px;
				border-radius: 4px;
				background-repeat: no-repeat;
				background-position: left 8px top 6px;
				background-size: 26px 26px;
				color:white;
				margin-top: -12px;
			}
			.twitter {
				border: 2px solid $twitter;
				background-color: $twitter;
				background-image: image-url("twitter.png");
			}
			.facebook {
				border: 2px solid $facebook;
				background-color: $facebook;
				background-image: image-url("facebook.png");
			}
			.google {
				border: 2px solid $google;
				background-color: $google;
				background-image: image-url("google.png");
			}
			.coindexter-signin {
				border: 2px solid $primary-orange;
				background-color: $primary-orange;
				background-image: image-url("logo-button-white.png");
			}
			.sign-in-alternative {
				margin-bottom:-27px;
			}
			.sign-in-change {
				margin-bottom:-15px;
			}
			label {
				margin-top: 13px;
			}
			input, textarea, select {
				width:100%;
				&:focus {
					outline:none;
					box-shadow: 0 0 2px 0 $primary-orange;
				}
				box-shadow:none;
				border: 1px solid $border-orange;
				padding: 0.8em;
				border-radius:4px;
				background-color: #fff;
				&[type=submit] {
					background: $primary-orange;		
					color:white;
				}
				&[type=file] {
					padding: 12px;
					font-family: 'WhitneyHTF-Medium'
				}
				&:disabled {
					opacity:0.6;
				}
			}
			select {
				text-transform:capitalize;
				-webkit-appearance: none;
			    -moz-appearance: none;
			    appearance: none;
			    background: no-repeat right 16px top 20px #fff;
				background-image: asset_url('down-carat');
				option {
					padding: 0.8em;
					text-transform:capitalize;
				}
				.coin-option, .network-option {
					background-size:24px 24px;
					background-repeat:no-repeat;
					padding-left:48px;
					background-position: 8px 11px;
				}
				.coin-option:checked {
					color: $primary-orange !important;
				}
				&[multiple="multiple"] {
					background-image: none;
				}
			}
			.add-another, .optional-toggle, .remove-fields {
				margin-top:6px;
				margin-bottom:2px;
				font-size:14px;
				text-align:right;
				color: $primary-orange;
				&:hover {
					cursor:pointer;
				}
			}
			.remove-fields {
				float:left;
				color: $concept-outer;
			}
			.add-another, .optional-toggle {
				float:right;
			}
			.optional-field {
				display:none;
			}
			.select-label {
				margin-top: 10px;
			}
			div.live-icon {
				margin-top:7px;
				margin-right:4px;
			}
			ul, li {
				padding: 0;
			}
			.link-icon {
				margin-top:-2px;
				margin-left: 3px;
			}
			h6.link-title {
				font-size:16px;
				line-height:1.5;
				margin-top:0px;
				margin-bottom:8px;
				font-family: "WhitneyHTF-Medium";
			}
			h3.link-title {
				font-size:24px;
				line-height:1.4;
				margin-top:0px;
			}
			h6.when-posted {
				margin-bottom: 5px;
				padding-top:6px;
				text-align:right;
				font-size:16px;
				text-transform: lowercase;
				font-family: "WhitneyHTF-MediumSC";
				clear:both;
			}
			h6.comment-count {
				font-size:12px;
				font-family: "WhitneyHTF-Medium";
				text-transform:uppercase;
			}
			h6.comment-count > a {
				color: $secondary-orange;
			}
			a.who-posted {
				display:block;
				margin-top:4px;
				text-align:right;
				font-size:13px;
				img {
					border-radius: 3px;
					margin-right:6px;
					margin-top:-2px;
				}
			}
			p.link-body {
				margin-bottom:38px;
			}
			a.add-missing-field {
				opacity:0.7;
				&:hover {
					opacity: 1;
					color: $primary-orange;
					cursor:pointer;
				}
			}
			ul.log-list > li {
				display: block;
				margin-bottom:14px;
			}
			.bootstrap-switch {
				margin-top:-2px;
				border-color: $border-orange;
				box-shadow:none;
				height:52px;
				border-radius:4px;
				.bootstrap-switch-container {
					height:50px;
					background-color:#fff;
					margin-top:-1px;
					&:active, &:focus {
						outline:none;
						box-shadow:none;
					}
					.bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
						width:60px;
						font-size:14px;
						padding-top:16px;
					}
					.bootstrap-switch-handle-off {
						margin-right:-2px;
					}
					.bootstrap-switch-label {
						margin-right:4px;
						border-radius:4px;
					}
				}
				.bootstrap-switch, .bootstrap-switch-handle-on, bootstrap-switch-success {
					background-color: $primary-green;
				}
			}
			ul {
				li {
					margin-bottom:4px;
				}
				li.comment-block {
					margin-left:32px;
					.user-block {
						display: block;
						float:left;
						margin-bottom:36px;
					}
					p {
						margin-bottom:8px;
					}
					img.comment-avatar {
						height: 24px;
						width: 24px;
						border-radius: 4px;
					}
					h6.comment-name {
						margin: 3px 0 0 8px;
						font-size:14px;
						font-family: "WhitneyHTF-BoldSC";
					}
					h6.comment-name, a.reply-to-comment {
						font-size:16px;
					}
					a.reply-to-comment {
						margin-top:0;
						font-family: "WhitneyHTF-MediumSC"
					}
					img.comment-avatar, h6.comment-name {
						float:left;
					}
					a.reply-to-comment {
						float:right
					}
					form {
						margin-top:3em;
						padding-left:32px;
						a.cancel-form {
							width:100%;
							background: $text-light;
							display:block;
							margin-top:6px;
							border-radius: 4px;
							height: 52px;
							color: white;
							text-align:center;
							padding-top:12px;
							&:hover {
								cursor:pointer;
							}
						}
					}
					.hidden-form > form {
						display:none;
					}
					.comment-block-singleton {
						clear:both;
					}
				}
			}
			ul.comments-cnt {
				margin-left:-32px;
			}
			.user-log-classification {
				margin-left:0;
				padding-left:0;
				margin-top:-6px;
			}
		}
		#show-single-link {
			h6.when-posted {
				text-align:left;
			}
			.who-posted-cnt {
				.who-posted {
					float:left;
				}
				img {
					border-radius: 4px;
				}
			}
		}
		#chart {
			display:inline;
		}
		.founder-list {
			input {
				margin-top: 12px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
		.coin-widget, .widget {
			text-align:center;
			margin-bottom:1em;
			.coin-in-categories, .network-in-categories {
				margin-bottom:2em;
				min-height: 177px;
				background-color: rgba(255,255,255,0.8);
				border: 1px solid $border-orange;
				padding: 1em 0;
				h6 {
					font-size:16px;
					font-family: 'WhitneyHTF-Bold';
					text-transform: capitalize;
				}
				img, .coin-logo {
					margin: 0 auto 18px auto;
					text-align:center;
				}
				border-radius: 4px;
				p {
					font-size:14px;
					margin-top:3px;
				}
				p.market-cap {
					margin-top:5px;
				}
				color: $text;
			}
			.network-in-categories {
				min-height:177px;
				img {
					margin-top: 18px;
				}
			}
		}

		.status {
			font-family: 'WhitneyHTF-MediumSC';
			font-size:18px;
			line-height:23px;
			div.status-icon {
				width:12px;
				height: 12px;
				border-radius: 12px;
				float:left;
				text-transform:lowercase;
				margin: 7px 4px 0 0;
			}

			div.live-icon {
				background-color:$secondary-green;
				box-shadow: inset 0 0 0 3px $primary-green;
			}

			div.preproduction-icon {
				background-color:$pre-production-inner;
				box-shadow: inset 0 0 0 3px $pre-production-outer;
			}
			div.dead-icon {
				background-color:#787878;
				box-shadow: inset 0 0 0 3px #555;
			}

			div.concept-icon {
				background-color:$concept-inner;
				box-shadow: inset 0 0 0 3px $concept-outer;
			}
			.live-status {
				color: $primary-green;
			}
			.pre-production-status {
				color: $pre-production-outer;
			}
			.concept-status {
				color: $concept-outer;
			}
		} 
		.error_explanation {
			color: $concept-outer;
		}

	}
	.grouped-row {
		margin-bottom:0px;
		&:last-child {
			padding-bottom:52px;
		}
	}
	.grouped-row-first {
		div[class*='col-'] {
			input {
				border-radius: 4px 4px 0px 0px;
			}
		}
	}
	.grouped-row-last, .grouped-row-middle {
		div[class*='col-'] {
			input {
				border-top:none;
				border-radius: 0px 0px 4px 4px;
			}
		}
	}
	.grouped-row-last {
		margin-bottom:12px;
		div[class*='col-'] {
			input {
				border-top:none;
			}
		}
	}
	.first-in-form-group {
		margin-top: 64px;
	}
}

.pagination {
	display: none;
}

.info-header {
	margin-left:38px;
}

.network-header, .coin-header, .coins-in-statuses, .intro-header, .user-header, .networks-in-categories, .results, .about, .info-header, form {
	margin-bottom:24px;
	h1 {
		font-family: WhitneyHTF-Bold;
		font-size:24px;
		color: $text;
		text-transform: capitalize;
	}
	h1.list-name {
		margin-bottom: 1em;
	}
	img {
		border: 1px solid $border-orange;
		background-color: #fff;
		padding: 4px;
	}
	.row {
		.intro-block {
			margin-bottom: 2em;
			padding: 2em;
			border-bottom: 1px solid $border-orange;
			p {
				margin-bottom:1em !important;
			}
		}
	}
}

span.up {
	color: $primary-green;
	&:before {
		content: "+";
	}
}
span.down {
	color: $concept-outer;
}

.category-coin-block {
	margin-bottom:30px;
}

.whitepaper-thumbnail {
	background-color:white;
	text-align:right;
	border: 1px solid $border-orange;
	margin-top:8px;
	margin-bottom:24px;
	&:hover {
		border: 1px solid $primary-orange;
	}
}

form.edit_coin, form.new_coin, .sign-in-up {
	padding-left:40px;
	.row {
		div[class*='col-'] {
			h6, h1 {
				margin-top:36px;
				a {
					text-transform:lowercase;
				}
			}
		}
	}
}

.log-block, .link-block {
	padding-bottom:24px;
	margin-bottom:30px;
	border-bottom: 1px solid $border-orange;
	&:last-child {
		border-bottom: none;
	}
}

.loading-more {
	display:none;
}

.whitepaper-cnt {
	z-index: 10;
	width:92%;
	height: 92%;
	margin: 4%;
	box-shadow: 0px 0px 0px 500px rgba(0,0,0,0.9);
	position:fixed;
	top:0;
	left:0;
}

.user-log-classification {
	p  {
		font-family:"WhitneyHTF-MediumSC";
		text-transform:lowercase;
		text-align:right;
	}
	a {
		font-family:"WhitneyHTF-MediumSC";
		text-transform:lowercase;
		&:hover {
			color: $primary-orange;
		}
	}
	.user-log-classification-coin, .user-log-classification-network, .user-log-classification-link {
		background-color:rgba(255,255,255,0.8);
		border: 1px solid $border-orange;
		border-radius: 4px;
		float:right; 
		padding: 4px 10px;
		margin-bottom:8px;
		img {
			margin-top:2px;
			margin-right:4px;
		}
		img, a {
			float:left;
		}
		&:hover {
			border-color: $primary-orange;
		}
	}
	&:hover {
		cursor:pointer;
	}
}

ul.action-links {
	position:fixed;
	bottom: 10px;
	right: 20px;
	color: $text;
	li {
		padding: 0.1em 0.7em 0.2em 0.7em;
		text-transform:lowercase;
		font-size: 16px;
		font-family: "WhitneyHTF-MediumSC";
		border-radius: 4px;
		opacity: 0.5;
		background-color: $primary-orange;
		float:left;
		margin-left:1em;
		a {
			color: #fff;
		}
		&:hover {
			opacity:1.0;
		}
		input {
			text-transform:lowercase;
			-webkit-appearance: none;
			background: none;
			color:#fff;
			border:none;
			padding:0;
		}
	}
	li.submit {
		opacity:1.0;
	}
}



