@font-face{
		font-family:'WhitneyHTF-Medium';
		src: font-url('WhitneyHTF-Medium.eot');
			src:font-url('WhitneyHTF-Medium.eot');
			src:font-url('WhitneyHTF-Medium.eot?#iefix') format('embedded-opentype'),
				font-url('WhitneyHTF-Medium.woff') format('woff'),
				font-url('WhitneyHTF-Medium.ttf') format('truetype'),
				font-url('WhitneyHTF-Medium.svg#WhitneyHTF-Medium') format('svg');
		font-weight:normal;
		font-style:normal;
}

@font-face{
		font-family:'WhitneyHTF-MediumSC';
			src:font-url('WhitneyHTF-MediumSC.eot');
			src:font-url('WhitneyHTF-MediumSC?#iefix') format('embedded-opentype'),
				font-url('WhitneyHTF-MediumSC.woff') format('woff'),
				font-url('WhitneyHTF-MediumSC.ttf') format('truetype'),
				font-url('WhitneyHTF-MediumSC.svg#WhitneyHTF-MediumSC') format('svg');
		font-weight:normal;
		font-style:normal;
}

@font-face{
		font-family:'WhitneyHTF-Bold';
			src:font-url('WhitneyHTF-Bold.eot');
			src:font-url('WhitneyHTF-Bold?#iefix') format('embedded-opentype'),
				font-url('WhitneyHTF-Bold.woff') format('woff'),
				font-url('WhitneyHTF-Bold.ttf') format('truetype'),
				font-url('WhitneyHTF-Bold.svg#WhitneyHTF-Medium') format('svg');
		font-weight:normal;
		font-style:normal;
}

@font-face{
		font-family:'WhitneyHTF-SemiBold';
			src:font-url('WhitneyHTF-SemiBold.eot');
			src:font-url('WhitneyHTF-SemiBold?#iefix') format('embedded-opentype'),
				font-url('WhitneyHTF-SemiBold.woff') format('woff'),
				font-url('WhitneyHTF-SemiBold.ttf') format('truetype'),
				font-url('WhitneyHTF-SemiBold.svg#WhitneyHTF-Medium') format('svg');
		font-weight:normal;
		font-style:normal;
}

@font-face{
		font-family:'WhitneyHTF-SemiBoldSC';
			src:font-url('WhitneyHTF-SemiBoldSC.eot');
			src:font-url('WhitneyHTF-SemiBoldSC?#iefix') format('embedded-opentype'),
				font-url('WhitneyHTF-SemiBoldSC.woff') format('woff'),
				font-url('WhitneyHTF-SemiBoldSC.ttf') format('truetype'),
				font-url('WhitneyHTF-SemiBoldSC.svg#WhitneyHTF-Medium') format('svg');
		font-weight:normal;
		font-style:normal;
}

@font-face{
		font-family:'WhitneyCondensed-Semibold';
			src:font-url('WhitneyCondensed-Semibold.eot');
			src:font-url('WhitneyCondensed-Semibold?#iefix') format('embedded-opentype'),
				font-url('WhitneyCondensed-Semibold.woff') format('woff'),
				font-url('WhitneyCondensed-Semibold.ttf') format('truetype'),
				font-url('WhitneyCondensed-Semibold.svg#WhitneyHTF-Medium') format('svg');
		font-weight:normal;
		font-style:normal;
}



