$primary-orange: rgb(235,107,51);
$secondary-orange: rgb(245,144,101);
$navbar-orange: rgb(253,238,233);
$border-orange: rgb(251,226,216);
$background-orange: rgb(254,247,245);

.dropdown-navigator {
	display:none;
}

@media (max-width: 767px) {
	body {
		.main-container {
			padding-top: 0;
			.row {
				div {
					ul {
						padding-left: 0;
					}
				}
			}
		}
	}
	navbar-header {
		margin: 0 auto;
	}
	nav, .navbar {
		.container {
			.navbar-header {
				a.navbar-brand {
					margin-right:-3px;
				}
				form {
					.form-group	{
						input {
							width:300px;
						}
					}
				}
			}
		}
		ul.navbar-nav {
			li#header-link-networks {
				text-align:right !important;
			}
			li#header-link-links, li#header-link-sales, li#header-link-feed {
				text-align: center !important;
			}

			li {
				position: static;
				float: left;

				width: 25%;
				margin-right: 0 !important;
				a {
					position: static;
					display: inline;
					padding: 0;
				}
			}
			li#header-link-account {
				display: none;
			}
			margin: 0 !important;
			padding-bottom:4px;
		}
	}
	.action-links {
		display: none;
	}
	.left-nav {
		display: none;
	}

	ul.full-category-cnt {
		padding-left: 0;
		margin-left: 0;
	}

	#navbar-container {
		padding: 10px 0;
		background-color: $navbar-orange;
		background-opacity: 1.0;
		position: fixed;
		z-index:9999;
		bottom: 0;
		border-top: $border-orange 2px solid;
	}
	.dropdown-navigator {
		display:block;
		button.btn {
			width: 100%;
			&:active, &:focus, &:hover {
				background-color: #fff !important;
				border: 3px solid $border-orange !important;
			}
		}
		margin-bottom: 3em;
		button, ul.dropdown-menu {
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: left;
			font-family: "WhitneyHTF-MediumSC";
			font-size: 16px;
			background-color: #fff !important;
			border: 3px solid $border-orange;
		}
		ul.dropdown-menu {
			border-radius: 0px 0px 4px 4px;
			width: 345px;
			margin: -3px 15px;
			padding: 6px 12px;
			box-shadow: none;
			li {
				padding-left: 15px;
				margin-top: 1em;
				margin-bottom: 1em;
				color: #545454;
				width: 100%;
			}
			z-index: 99999;
			height: 400px;
			overflow: scroll;
		}
	}
	#sales-dropdown {
		ul.dropdown-menu {
			height: 170px;
		}
	}

	#network-related-dropdown {
		height: 190px;
	}

	div[class*='user-log-classification'] {
		float:left;
		margin-left: 0px;
		margin-bottom: 5px;
		margin-top:6px;
	}
	.link-data {
		clear:both;
		margin-left: 5px;
	}
	ul.log-list, .link-data {
		clear:both;
	}

	.whitepaper-list-cnt {
		.whitepaper-thumb-cnt {
			.whitepaper-thumbnail {
				height: 125px;
			}
		} 
	}
	h6.when-posted {
		margin-top: 13px !important;
	}
	.info-header {
		text-align:center;
	}

	.label {
		text-align: left !important;
		padding-left: 15px;
		h6 {
			font-family: "WhitneyHTF-SemiboldSC" !important;
		}
		margin-top: 5px; 
	}

	.title-row {
		h6 {
			font-family: "WhitneyHTF-SemiboldSC" !important;
		}
		margin-bottom: -20px;
	}

	.data, .symbol, .status {
		margin-bottom: 1em;
	}

	.status {
		margin-bottom: 0;
	}
		
}

