<% @categories.each do |category| %>
	<% unless category.coins.empty? %>
		<ul>
			<li class="category-coin-block">
				<div class="row">
					<div class="col-md-10 col-md-offset-2">
						<div class="row coins-in-categories">
							<h4 class="list-name"><%= category.name %></h4>
							<% category.coins.each_with_index do |coin, i| %>		
								<%= render 'coin_widget', :coin => coin, :i => i %>
							<% end %>
						</div>
					</div>
				</div>
				
			</li>
		</ul>
	<% end %>
<% end %>