<div class="col-md-2 col-md-offset-1 left-nav">
	<ul id="info-menu">
		<li><%= link_to("All",:action => "index", :remote => true) %></li>
		<% @categories.each do |category| %>
			<li><%= link_to(category.name.camelize, category, :remote => true) %></li>
		<% end %>
	</ul>
</div>