<footer class="footer">
  <div class="container">
    <ul>
    	<li><%= link_to "About", "/about" %></li>
    	<li>Made by <%= link_to "@libovness", "http://twitter.com/libovness" %></li>
  </div>
</footer>