<header class="navbar navbar-fixed-top navbar-inverse">
  	<div class="container">
	  	<%= link_to "Coindexter", '#', id: "logo" %>
	  	<nav>
		  	<ul class="nav navbar-nav navbar-right">
		  		<li>Browse by:</li>
			    <li><a href="#">Utility</a></li>
			    <li><a href="#">Upcoming sales</a></li>
			</ul> 
		</nav>
	</div>
</header>