<nav class="navbar">
  	<div class="container">
  		<div class="navbar-header">
	  		<%= link_to image_tag("coindexter-logo.png", size: "163x30"), '#', class: "navbar-brand", id: "logo" %>
	  	</div>
	  	<div id="navbar">
		  	<ul class="nav navbar-nav navbar-right">
		  		<li><h6>Browse by</h6></li>
			    <li><a href="#">Utility</a></li>
			    <li><a href="#">Upcoming sales</a></li>
			    <li>
			    	<div class="form-group">
			    		<input type="search" class="form-control" placeholder="Search">
			    		<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
			    	</div>
			    </li>
			</ul>
		</div>
	</div>
</nav>