<%= form_for @search do |f| %>
	<div class="form-group">
		<div class="input-group">
			<%= f.search_field_tag :query, params[:query], class: 'form-control', placeholder: 'Search for coins or categories' %>
			<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
		</div>
	</div>
<% end %>