<div class="col-md-6 col-md-offset-2 about">
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<h1>About Coindexter</h1>
			<p>Coindexter is a website where you can share information and links about blockchain-based coins and networks.</p>
			<p>If you have questinos about Coindexter or ideas about features to add, you can reach me at <%= link_to "@libovness", "http://twitter.com/libovness" %> and I will answer your tweets in the order that they are received.</p>
		</div>
	</div>
</div>