<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-8 data col-md-offset-4">
				<% if coin.logo.nil? || coin.logo.blank? %>
					<%= image_tag "fallback/default.png", size: '60x60', id: 'coin-logo' %>
				<% else %>
					<%= image_tag coin.logo, size: '60x60', id: 'coin-logo' %>
				<% end %>
				<h1 id="coin-name"><%= @coin.name %></h1>
			</div>
		</div>
	</div>
</div>