<div class="col-md-2 col-md-offset-1 left-nav">
	<ul class"info-menu">
		<li id="show-all" class="active-item"><p>All</p></li>
		<% Coin.coin_status_options.each do |status| %>
			<li id="<%= status.first.downcase %>"><p><%= status.first.capitalize %></p></li>
		<% end %>
	</ul>
</div>