<%= link_to(coin, class: 'coin-widget widget') do %>
	<div class="col-md-3 <%= coin.category.name.downcase %> <%= "col-md-offset-1" unless i == 0 || i % 3 == 0 %> coin-in-categories">
		<% if coin.logo.nil? || coin.logo.blank? %>
			<%= image_tag "fallback/default.png", size: '60x60', class: 'coin-logo' %>
		<% else %>
			<%= image_tag coin.logo, size: '60x60', class: 'coin-logo' %>
		<% end %>
		<h6><%= coin.name.downcase[0..15] %></h6>
		<p class="market-cap"><%= '$' + number_to_human(coin.market_cap, units: {thousand: "K", million: "mm", billion: "B"}).delete(' ') unless coin.market_cap.nil? %></p>
		<p><span class=<%= !coin.one_day_price_change.nil? && coin.one_day_price_change > 0 ? 'up' : 'down' %>><%= '1d ' + coin.one_day_price_change.to_s + '%' unless coin.one_day_price_change.nil? %></span></p>
	</div>
<% end %>