<%= javascript_include_tag "add_another" %>
<%= form_for @coin, authenticity_token: true, remote: @use_ajax, html: { multipart: true } do |f| %>
	<div class="row">
		<div class="col-md-8 col-md-offset-4">
			<%= image_tag @coin.logo, size: "60x60", id: "coin-logo" if @coin.logo? %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Coin logo", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.file_field :logo, class: 'filestyle' %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Coin name", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :name, class: "form-input" %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Coin status", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :coin_status, Coin.coin_status_options.keys.to_a %>
		</div>
	</div>
	<div class="row	">
		<div class="col-md-4 label">
			<%= f.label "Symbol", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_field :symbol, class: "form-input" %>
		</div>
	</div>
	<%= f.fields_for :exchanges do |e| %>
		<div class="row grouped-row grouped-row-first exchange-group">
			<div class="col-md-4 label">
				<%= e.label "Exchange Name", class: "form-label" %>
			</div>
			<div class="col-md-8">
				<%= e.text_field :name %>
			</div>
		</div>
		<div class="row grouped-row grouped-row-last repo-group">
			<div class="col-md-4 label">
				<%= e.label "Exhange URL", class: "form-label" %>
			</div>
			<div class="col-md-8" id=<%= "exchange-#{e.options[:child_index]}" %>>
				<%= e.text_field :url %>
				<%= e.hidden_field :_destroy %>
		  		<a class="remove-fields remove-exchange-fields">Remove</a>
				<% if e.options[:child_index] + 1 == @coin.exchanges.count %>
					<a class="add-another" id="add-another-exchange">Add another exchange</a>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Networks", class: "form-label select-label" %>
			<h6 class="label-helper">Select one or more</h6>
		</div>
		<div class="col-md-8">
			<%= f.select :network_id, options_for_select(Network.all.order("name ASC").map {|n| [n.name, n.id, {'data-icon' => n.logo}, {class: 'network-option'}]}, { selected: @coin.network }.delete_if {|k,v| v.nil?}), {}, {multiple: true, size: 8.5, id: "network-option"} %>
		</div>
	</div>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Type", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :coin_type, options_for_select([["Currency","currency"],["Token","token"],["Equity","equity"],["Certificate","certificate"]], :selected => @coin.coin_type), include_blank: true %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 label">
			<%= f.label "Proof algorithm", class: "form-label select-label" %>
		</div>
		<div class="col-md-8">
			<%= f.select :proof_algorithm, options_for_select([["Proof of work","proof-of-work"],["Proof of stake","proof-of-stake"],["Proof of burn","proof-of-burn"],["X11","x11"],["X13","x13"]], :selected => @coin.proof_algorithm), include_blank: true %>
		</div>
	</div>
	<%= f.fields_for :repositories do |r| %>
		<div class="row grouped-row grouped-row-first repo-group">
			<div class="col-md-4 label">
				<%= r.label "Repo Name", class: "form-label" %>
			</div>
			<div class="col-md-8">
				<%= r.text_field :name %>
			</div>
		</div>
		<div class="row grouped-row grouped-row-last repo-group">
			<div class="col-md-4 label">
				<%= r.label "Repo URL", class: "form-label" %>
			</div>
			<div class="col-md-8" id=<%= "repository-#{r.options[:child_index]}" %>>
				<%= r.text_field :url %>
				<%= r.hidden_field :_destroy %>
		  		<a class="remove-fields remove-repository-fields">Remove</a>
				<% if r.options[:child_index] + 1 == @coin.repositories.count %>
					<a class="add-another" id="add-another-repo">Add another repo</a>
				<% end %>
			</div>
		</div>
	<% end %>
	<div class="row first-in-form-group">
		<div class="col-md-4 label">
			<%= f.label "Additional info", class: "form-label" %>
		</div>
		<div class="col-md-8">
			<%= f.text_area :coin_info, rows: 6, class: "form-input" %>
		</div>
	</div>
	<ul class="action-links">
		<li class="submit">
			<%= f.submit "Submit changes", class: "form-submit" %> 
		</li>
	</ul>
<% end %>