<ul id="info-menu">
	<li class="active-item" id="details"><p><%= link_to "Details", @coin %><p></li>
	<li id="links"><p><%= link_to "Links", "/coins/#{@coin.name.downcase}/links", remote: true %></p></li>
	<li id="discussion"><p><%= link_to "Trollbox", "/coins/#{@coin.name.downcase}/trollbox", remote: true %></p></li>
	<li id="log"><p><%= link_to "Logs", "/coins/#{@coin.name.downcase}/logs", remote: true %></p></li>
</ul>