<ul>
	<% if @coin.links.empty? %>
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<p class="add-first">No questions yet. <%= link_to "Add one?", new_link_url(coin: @coin), remote: true %></p>
			</div>
		</div>
	<% else %>
		<%= render(partial: 'links/show_all_links', collection: @links, as: :link) %>
	<% end %>
</ul>