<%= javascript_include_tag 'paginate_logs' %>
<ul class="outer-log-list">
	<li class="coin-header coin-info-block block">
		<%= render(partial: 'coins/coin_main_info_header') %>
	</li>
	<%= render(partial: 'log', collection: @logs, as: :log) %>
</ul>
