<div class="row grouped-row grouped-row-first">
	<div class="col-md-4 label">
		<label class="form-label" for="coin_repositories_attributes_0_Repo Name">Repo name</label>
	</div>
	<div class="col-md-8">
		<input type="text" name="coin[repositories_attributes][0][name]" id="coin_repositories_attributes_0_name">
	</div>
</div>
<div class="row grouped-row grouped-row-last">
	<div class="col-md-4 label">
		<label class="form-label" for="coin_repositories_attributes_0_Repo URL">Repo url</label>
	</div>
	<div class="col-md-8" id="repository-0">
		<input type="text" name="coin[repositories_attributes][0][url]" id="coin_repositories_attributes_0_url">
			<a class="add-another" id="add-another-repo">Add another repo</a>
	</div>
</div>