<div class="col-xs-12 dropdown-navigator">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    related
    	<span class="caret"></span>
  	</button>
	<ul class="dropdown-menu top-nav" id="coin-related-dropdown" aria-labelledby="dropdownMenuDivider">
		<li data-link=<%= network_coin_path %> >details</li>
		<li data-link=<%= logs_network_coin_path %>>logs</li>
		</li>
	</ul>
</div>