<% provide(:title, 'Edit ICO terms') %> 
<div class="info-header">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<% unless @coin.symbol.nil? %>
						<h1 class="edit-coin-name" id="network-name">Edit <%= @coin.symbol %></h1>
					<% else %>
						<h1 class="edit-coin-name" id="network-name">Edit <%= @coin.name %></h1>
					<% end %>
				</div>
			</div>
			<%= render 'ico_form' %>
		</div>
	</div>
</div>