<%= javascript_include_tag 'paginate_logs' %>
<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render(partial: 'info_menu', object: @coin) %>
	</div>
	<div class="col-md-6 main">
		<ul class="outer-log-list">
			<%= render(partial: 'log', collection: @logs, as: :log) %>
		</ul>
	</div>
</div>