<% provide(:title, 'Add new coin') %> 
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<div class="col-md-8 col-md-offset-4">
				<h3>Add a new coin</h3>
			</div>
		</div>
		<%= render 'form' %>
	</div>
</div>

