<% provide(:title, 'Add new coin') %> 
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="info-header">
			<div class="row">
				<div class="col-md-8 col-md-offset-4">
					<% if defined?(@network) %>
						<h1>Add a new coin to <%= @network.name %></h1>
					<% else %>
						<h1>Add a new coin</h1>
					<% end %>
				</div>
			</div>
			<%= render 'form' %>
		</div>
	</div>
</div>

