<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<ul class="info-menu" id="search-filter-categories">
			<li id="show-all" class="category-link active-item" data-group="all"><p>All sales</p></li>
			<li id="upcoming" class="category-link" data-group="upcoming"><p>Upcoming</p></li>
			<li id="previous" class="category-link" data-group="previous"><p>Past</p></li>
		</ul>
	</div>
	<div class="col-xs-12 dropdown-navigator" id="sales-dropdown">
		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    all sales
	    	<span class="caret"></span>
	  	</button>
		<ul class="dropdown-menu top-nav" aria-labelledby="dropdownMenuDivider">
			<li id="show-all" class="active-item" data-group="all"><p>all sales</p></li>
			<li role="separator" class="divider"></li>
			<li id="upcoming" class="category-link" data-group="upcoming"><p>upcoming sales</p></li>
			<li id="previous" class="category-link" data-group="previous"><p>past sales</p></li>
		</ul>
	</div>
	<div class="col-md-6 col-md-offset-1 main col-xs-12">
		<ul>
			<li class="sale-block block" data-group="upcoming">
				<div class="row">
						<% @upcoming_sales.each do |group| %>
							<h1 class="list-name"><%= group[0] %></h1>
								<div class="row results">
									<div class="col-md-12 col-xs-12">
										<% group[1].each_with_index do |sale, i| %>
											<%= render '/coins/coin_widget', :coin => sale, :i => i %>
										<% end %>
									</div>
								</div>
						<% end %>
					</div>
				</div>
			</li>
			<li class="sale-block block previous" data-group="previous">
				<div class="row">
						<% @previous_sales.each do |group| %>
							<div class="row results">
								<div class="col-md-12 col-xs-12">
									<h1 class="list-name"><%= group[0] %></h1>
									<% group[1].each_with_index do |sale, i| %>
										<%= render '/coins/coin_widget', :coin => sale, :i => i %>
									<% end %>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>