<% content_for :head do %>
	<script type="text/javascript" src="https://cdn.cryptowat.ch/assets/build/scripts/dist/embed.js"></script>
<% end %>
<div class="row">
	<div class="col-md-2 col-md-offset-1 left-nav">
		<%= render 'info_menu' %>
	</div>
	<div class="col-md-6 main">
		<%= render 'show_coin' %>
	</div>
	<ul class="action-links">
		<li><%= link_to("Add new coin", new_coin_path, remote: true, class: "action-link", accesskey: 'A') %></li>
		<li><%= link_to("Edit #{@coin.name}", edit_coin_path, remote: true, class: "action-link", accesskey: 'E') %></li>
	</ul>
</div>